@media (min-width: 1050px) {
	ul#slider-pager li a{background-color:#1e222d;}
	ul#slider-pager {left:-31px;}
	}
@media (min-width: 1200px) {
	.search-box input[type="text"]{width:444px;}
	.form-inputs {
    width: 321px;}
	.rslides li {

    width: 100%;
}

.slider {
  
    max-height: 447px;

}
ul.brands-list li {

max-width: 139px;

}

#header .left .phone-top {
    margin-right: 70px;
  
}
.navbar-top ul.nav li {

    margin: 0px 19px;
}
.table-box thead td:nth-child(2),
.table-box tbody td:nth-child(2){width:607px !important;max-width:607px !important;}

ul.catalog-goods-list li .image-box {

    height: 280px;

}
.slider-box .image-box {

    width: 82.7%;

}
ul.comments-list li .comment-box {
  
    width: 1025px;
  
}
	}